body{
    margin: 0;
}
form{
    display: flex;
    justify-content: space-evenly;
}
.container{
    height: 740px;
    background-color: #eee;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
input[type=text]{
    width: 70%;
    border-radius: 10px;
    background-color: #eee;
    height: 50px;
}
input[type=text]:focus{
    border: 3px solid purple;
}
h1{
    text-align: center;
}
input[type=submit],
input[type=reset]{
    width: 10%;
    border-radius: 10px;
    height: 50px;
    color: white;
    background-color: rgb(191, 22, 22);
}
.line-through{
    text-decoration: line-through;
    
}
#tasks{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.task-container{
    width: 50%;
    display: flex;
    justify-content: center;
}
.completed{
    background-color: greenyellow;
}
.task-container{
    animation-name: move;
    animation-duration: 1s;
    animation-timing-function: ease-in;
}
@keyframes move {
    0%{
        transform: translateX(-170px);
    }
    50%{
        transform: translateX(50px);
    }
    100%{
        transform: translateX(0px);
    }
}
